.root{
    background-image: 'https://wallpaperaccess.com/full/5046024.jpg';
}

.grid{
    border: 5px solid black;
    height: 500px;
    width: 500px;
    display: grid;
    margin-left: 200px;
    overflow-x: auto;
    overflow-y: auto;
}

#sizepicker{
    margin: 20px;
}

#gridRangeSize{
    margin: 5px;
}

.colorpicker{
    border: 1px solid white;
    display:flex;
    margin: 5px;
}

.colorpicker p{
    color: white;
    font-size: 20px;
    margin: 10px;
}

#colorpicker{
        width: 20px;
        border-radius: 5px;
        padding: 5px;
        margin: 25px;
        background-color:white;
        font-size: 20px;
        transition: all 0.4s ease-in-out;
}

.side-bar {
    height: 100%; 
    width: 200px; 
    position: fixed;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

  .side-bar button{
        border-radius: 15px;
        padding: 5px;
        margin: 25px;
        background-color:aqua;
        font-size: 20px;
        transition: all 0.4s ease-in-out;
}

.side-bar button:hover{
    transform:scale(1.2);
    border-radius: 90px;
}

